BOT_TOKEN=123456:ABC-telegraf-bot-token
ALERT_CHAT_ID=@to_kanali_sou_ή_chat_id
CHECK_INTERVAL=300
REQUIRE_TELEGRAM=1
REQUIRE_X=1
MIN_LIQUIDITY_USD=0
MIN_FDV_USD=0
# Προαιρετικά για auto-post στο X:
X_API_KEY=
X_API_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_SECRET=
